* {
    margin: 0;
    box-sizing: border-box
}
body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}
main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}
h1 {
    font-size: 1.4rem
}
p {
    margin-top: 20px;
}
footer {
    position: fixed;
    bottom: 0
}


.attribution { 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}
.outer-container {
    width: 320px;
    height: 520px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px 
}
.qr-img-div {
    height: 300px;
    width: 270px;
    background-image: url('./images/image-qr-code.png');
    background-size: cover;
    background-position: center;
    margin: 20px auto;
    border-radius: 30px
}
.text-div {
    text-align: center;
    margin: 25px auto;
    width: 265px;
}

@media screen and (max-width: 400px) {
    footer {
        font-size: 14px;
    }
}